* {
    margin:0;
    padding:0;
}

html {
    height: 100%;
    background-image: url("noise.png");
}

.background {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-image: url("noise.png");
    z-index: -1;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    opacity: 0;
}

body {
    min-height:100%;
    padding:0 2.5em;
    font-family: Palatino, 'Palatino Linotype', serif;
    /*background: #e8eff5 url('noise.png');*/
    background-color: transparent;
    box-sizing: border-box;
}

h1, h2 {
    padding-top:.2em;
    color:#e50;
    text-shadow: 0 2px white;
}

h1 {
    text-align:center;
    font-size:500%;
}

a {
    color:inherit;
    text-decoration:none;
}

#patterns  > li p {
    text-decoration: underline;
}

body > p, body > ul {
    margin:1em 0;
    line-height:1.5;
}

h2, p, ul:not(#patterns) {
    text-shadow: 0 1px white;
}

h2 + p, p + ul {
    margin-top:.3em;
}

body > ul > li > a, body > p > a {
    border-bottom:2px dotted white;
}

#help {
    text-align: center;
}

#help > li {
    display:inline;
    list-style:none;
    text-shadow: 0 1px white;
}

#help > li + li:before {
    content: 'â— ';
    opacity:.4;
}

#patterns {
    
}

#patterns:after {
    content:"";
    display:block;
    clear:both;
}

#patterns > li {
    position:relative;
    width: 300px;
    height:300px;
    margin:40px;
    float:left;
    list-style:none;
}

#patterns > li {
    background-color:gray;
    border-radius: 150px;
    box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset,
                0 0 0 15px rgba(255, 255, 255, .6) inset,
                0 0 0 1px rgba(0,0,0,.5),
                2px 2px 10px rgba(0,0,0,.6);
    /* Overrride for Webkit bug */
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, .6) inset,
                0 0 0 1px rgba(0,0,0,.5),
                2px 2px 10px rgba(0,0,0,.6);
}

#patterns > li > div {
    position:absolute;
    top:235px;
    left:55px;
    width:250px;
    z-index:2;
    padding:3px 10px 5px;
    color:#e50;
    color: hsla(20,100%,50%,.94);
    font-size:90%;
    background:currentColor;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

#patterns > li > div:after {
    content: "";
    position:absolute;
    top:-30px;
    left:30px;
    border:15px solid transparent;
    border-bottom-color:currentColor;
    border-left-width:0;
}

#patterns > li:target > div:after {
    border-width:30px;
    border-left-width:0;
    top:-60px;
    left:60px;
}

#patterns > li h2, #patterns > li p, #patterns > li textarea {
    color:white;
    text-shadow: .05em .05em .1em rgba(0,0,0,.4);
}

#patterns > li h2 {
    font-size:140%;
}

#patterns > li:target h2 {
    float: left;
    margin-bottom: .3em;
}

#patterns > li .bytesize {
    font-weight:normal;
    opacity:.7;
}

#patterns > li p {
    font-size:85%;
    line-height:1.1;
    opacity:.7;
    text-shadow: none;
    text-align: right;
}

#patterns > li:target p {
    float: right;
}

#footer {
    clear:both;
    text-align:center;
    padding:.5em;
    border-top:1px solid rgba(0,0,0,.3);
    text-shadow: 0 1px white;
}